<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="query">Query</label>
        <input type="text" id="query" formControlName="query" class="form-control">
    </div>

    <div class="form-group">
        <label for="url">URL</label>
        <input type="text" id="url" formControlName="url" class="form-control">
    </div>

    <div class="form-group">
        <label for="engine">Search Engine</label>
        <select id="engine" formControlName="engine" class="form-control">
            <option *ngFor="let engine of searchEngines" [value]="engine.searchEngine">{{engine.name}}</option>
        </select>
    </div>

    <button type="submit" class="mt-5 btn btn-primary">Search</button>
</form>